__pycache__/
*.pyc
.pytest_cache/
.venv/
*.mp4
*.png
!docs/**/*.png
!assets/soda_can/*.png
.DS_Store
MUJOCO_LOG.TXT
site/
*.ini
datasets/
outputs/
*.rrd
wandb/
*.pdf
*.pptx
.cache/
huggingface/release/
uv.lock
